@keyframes aside {
  0% {
    transform: scaleX(3) rotate(-20deg);
  }
  100% {
    transform: scaleX(4) translateY(4vh) rotate(20deg);
  }
}
body {
  filter: blur(5px);
  overflow: hidden;
  margin: 50vh -9vw;
}
html {
  background: linear-gradient(
    #146190 0%,
    #cddee8 50%,
    #5aade4 50%,
    #025892 100%
  );
  filter: contrast(150%);
  height: 100vh;
}
aside {
  background: linear-gradient(#5aade4, #87c1e8);
  border-radius: 50%;
  float: right;
  height: 60%;
  width: 5%;
  margin: 0 -1%;
  opacity: 0.3;
}
main, aside {
  height: 3.3vh;
}

main:nth-child(odd) aside {
  float: left;
}
